input,
textarea,
select {
    background-color: var(--input-base);
    appearance: none;
    width: 100%;
    border-radius: 1rem;
    border: .2rem solid transparent;
    outline: .2rem solid var(--input-stroke);
    color: var(--text-body);
    padding: 1.3rem;
    font: var(--body-sm);
}

input::placeholder,
textarea::placeholder,
select::placeholder,
input[type="datetime-local"] {
    color: var(--input-placeholder);
}

label {
    font: var(--body);
    display: block;
    margin-bottom: 1.6rem;
}

input:focus,
select:focus,
textarea:focus,
input[type="datetime-local"]:focus-within {
    outline: .2rem solid var(--input-placeholder);
    border-color: solid var(--input-placeholder);
    outline-offset: .1px;
}

input[type="datetime-local"] {
    &::-webkit-calendar-picker-indicator {
        opacity: 0;
    }
}

.address .flex {
    gap: 1.25rem;
}

.input-wrapper:has([disabled]) {
    opacity: .5;
}

input {
    &[disabled] {
        background-color: var(--surface-disabled);

        border: 1px solid var(--stroke-default);

        color: var(--text-primary);
    }

    &:invalid {
        border: 0.125rem solid var(--semantic-error);
    }

    &+small {
        font: var(--text-sm);
        color: #78716C;

        display: inline-block;
        margin-top: .25rem;
    }

    &[required]+.error {
        display: flex;
        align-items: center;
        gap: .25rem;

        font: var(--text-sm);
        color: var(--semantic-error);

        margin-top: .25rem;
    }

    &:not(:focus):valid+.error {
        display: none;
    }
}

