#app {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 48.75% 51.25%;
    padding: 2rem;
    height: 100vh;
    overflow: hidden;
}

aside {
    position: relative;
    display: grid;
    justify-items: end;

    &>img {
        border-radius: 1.2rem;
        width: 35rem;
    }

    & .aside-container {
        max-width: 31rem;
        margin-right: auto;
        font: var(--body-sm);
        color: var(--text-body);

        >header {
            position: absolute;
            top: 3.2rem;
            right: 5rem;

            >img {
                width: 4.5rem;
                height: 4.8rem;
                margin-bottom: 1.6rem;
            }

            >h1 {
                font: var(--font-logo);
                color: var(--pink);
                margin-bottom: .4rem;
            }
        }
    }
}

main {
    overflow: auto;
    background-color: var(--shape-body);
    padding: 8rem 13rem;
    border-radius: 1.2rem;
    margin-left: 2rem;

    & .main-container {
        margin: 0 auto;

        >.back {
            font: var(--heading-md);
            color: var(--text-heading);
        }
    }
}